@keyframes breathingBackground {
    0% {
        background-position: 25% 75%;
    }

    50% {
        background-position: 75% 25%;
    }

    100% {
        background-position: 25% 75%;
    }
}

@keyframes breathingBackground2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
    background: linear-gradient(90deg, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan);
    background-size: 2000% 2000%;
    animation: breathingBackground infinite 75s steps(1220);
    opacity: 1;
    content: '';
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 4px;
}

.statusbar::after {
    content: '';
    background: linear-gradient(90deg, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan);
    background-size: 2000% 2000%;
    animation: breathingBackground2 infinite 60s steps(1220);
    bottom: 21px;
    width: calc(100% + 100px);
    height: 3px;
    right: -3px;
    position: absolute;
}

.monaco-workbench .activitybar>.content .monaco-action-bar .badge .badge-content {
    color: black !important;
    background: linear-gradient(45deg, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan);
    background-size: 2000% 2000%;
    animation: breathingBackground2 infinite 60s steps(1220);
}

.monaco-grid-branch-node>.monaco-split-view2>.sash-container>.monaco-sash.vertical::after {
    content: '';
    background: linear-gradient(0deg, transparent, #9d00ff, transparent);
    bottom: 0px;
    width: 1px;
    height: calc(100%);
    right: 0;
    position: absolute;
}