@keyframes breathingBackground {
    0% {
        background-position: 25% 75%;
    }

    50% {
        background-position: 75% 25%;
    }

    100% {
        background-position: 25% 75%;
    }
}

@keyframes breathingBackground2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.statusbar::after {
    content: '';
    background: linear-gradient(90deg, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan, orange, magenta, cyan);
    background-size: 2000% 2000%;
    animation: breathingBackground2 infinite 60s steps(1220);
    width: calc(100% + 100px);
    height: 1px!important;
    right: -3px;
    position: absolute;
}
